@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  font-size:large;
  font-weight: bold;
}
h4{
  font-size:medium;
  font-weight: bold;
}
.page-layout{
  display:flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  /* width:50%; */
  margin-left:30%;
  margin-right:30%;
  padding:1.25rem;
}
@media only screen and (max-width: 600px) {
  .page-layout{
    display:flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    padding:1rem;
  }  
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-green {
  @apply bg-green-500 text-white;
}
.btn-green:hover {
  @apply bg-green-700;
}
.btn-orange {
  /* background-color: #f55e30; */
  @apply bg-orange-500 text-white;
}
.btn-orange:hover{
  @apply bg-orange-700;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-red:hover {
  @apply bg-red-700;
}

.card {
  height: auto;
  width: 100%;
  padding: 1rem;
  text-align:center;
  border-radius: 1rem;
  background: #edf2f7 !important;
  border: 1px dashed #cbd5e0 !important;
  position: relative;
}

.card .info {
  @apply mt-1 text-xs;
  /* margin-top: 10px;
  font-size: 12px; */
}

.card .edit-course-form{
  @apply flex-row
}
.card .form-error-msg{
  @apply text-red-600 text-xs mb-2
}

.edit-btn{
  margin-top:auto;
  margin-bottom: 0px;
  padding:2px;
  margin-right: 2px;
  position:absolute;
  /* top:0; */
  bottom:0;
  right:0;
}


/****customize scrollbar **************/
.custom-text-area{
  overflow: scroll;
  scrollbar-color: slate gray;
  scrollbar-width: thin;
}

